<footer id="footer">
    <section id="bottomBlueArea">
        <div class="container-fluid" id="helpArea">
            <div class="row">
                <div class="col-md-5 col-xl-3 border-rights pt-4">
                    <div class="help-holder">
                        <h1>test</h1>
                        <p>test</p>
                    </div>
                </div>
                <div class="col-md-7 col-xl-5 border-rights pt-4">
                    <div class="help-holder">
                        <h1>test</h1>
                        <p>test</p>
                        <button type="button"
                            class="btn btn-primary">test</button>
                        <button type="button"
                            class="btn btn-primary">test</button>
                    </div>
                </div>
                <div class="col-xl-4 pt-4">
                    <div class="help-holder">
                        <h1>test</h1>
                        <p>test</p>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section id="bottomGrayArea">
        <div class="container-fluid">

            <div class="row gray">
                <div class="brands row row-cols-3 row-cols-sm-auto justify-content-center">
                    <a class="text-end" href="" aria-label="Facebook" href="">test</a>
                </div>
                <div class="links row d-flex align-items-center justify-content-center">
                    <div class="col-auto">
                        <a href="#individualsAndFamilies">Individuals &amp; Families</a>
                    </div>
                    <div class="col-auto">
                        <a href="#homeCare">Home Care</a>
                    </div>
                    <div class="col-auto">
                        <a href="#employers">Employers</a>
                    </div>
                    <div class="col-auto">
                        <a href="#brokers">Brokers</a>
                    </div>
                    <div class="col-auto">
                        <a href="#nysProvider">Assistors</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="additionalLinks">
        <div class="container-lg">
            <div class="row white">
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="row text-lg-start text-center">
                        <a href=""><i class="fa-light fa-copyright"></i>2023 NY State of Health. All Rights
                            Reserved.</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2 order-1">
                    <div class="row justify-content-end justify-content-center justify-lg-content-end">
                        <div class="col-auto">
                            <a href="">test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</footer>