<div id="project" (click)="onClicked()">
    <button>{{ projectName }}</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Row Labels</th>
            <th scope="col">Count of Work Item ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Assigned</td>
            <td>14</td>
          </tr>
          <tr>
            <td scope="row">Clock Suspend - Assigned</td>
            <td>1</td>
          </tr>
          <tr>
            <td scope="row">Clock Suspend - Triage</td>
            <td>11</td>
          </tr>
          <tr>
            <td scope="row">In Test</td>
            <td>12</td>
          </tr>
          <tr>
            <td scope="row">Passed</td>
            <td>21</td>
          </tr>
          <tr>
            <td scope="row">Policy Review</td>
            <td>4</td>
          </tr>
          <tr>
            <td scope="row">Triage</td>
            <td>14</td>
          </tr>
        </tbody>
      </table>
</div>

